:root {
	--primaryColor: hsl(0, 100%, 100%);
	--secondaryColor: hsl(191, 100%, 45%);
	--textColor: hsl(190, 100%, 20%);
	--ctaColor: hsl(240, 100%, 50%);
}
* {
	margin: 0;
	box-sizing: content-box;
	padding: 0;
}

body {
	font-family: "Gill Sans", "Trebuchet MS", sans-serif;
	line-height: 1.6;
	background-color: var(--primaryColor);
}

.wrapper {
	display: flex;
	flex-wrap: wrap;
	width: auto;
	align-content: center;
	justify-content: center;
	padding: auto;
}

#logo {
	position: absolute;
	color: var(--primaryColor);
	top: 20%;
	left: 5%;
}

header {
	display: flex;
	flex-direction: row;
	align-items: center;
	text-align: center;
	justify-content: center;
	position: sticky;
	width: 100%;
	height: 15rem;
	background-color: var(--secondaryColor);
	color: var(--textColor);
	z-index: 1;
}

ul {
	list-style-type: none;
	display: flex;
	margin-left: -30%;
}

li {
	padding: 6%;
	margin-top: 10%;
}

#navLink1,
#navLink2,
#navLink3,
#navLink4,
#getstarted {
	font-weight: 300;
	text-decoration: none;
	background-color: var(--ctaColor);
	color: var(--primaryColor);
	display: block;
	width: 4.5rem;
	border: solid var(--primaryColor);
	border-radius: 1rem;
}

#navLink1:hover,
#navLink2:hover,
#navLink3:hover,
#navLink4:hover {
	height: auto;
	transition: background-color 0.5s ease, transform 0.5s ease;
	background-color: var(--mainColor);
	color: var(--primaryColor);
}

#getstarted {
	animation: bgColorChange 5s infinite;
	font-weight: 300;
	text-decoration: none;
	padding: 0.3em;
	width: 100%;
	white-space: nowrap;
	background-color: var(--ctaColor);
	color: var(--primaryColor);
	left: 150%;
	top: -3em;
	position: relative;
	font-size: 1em;
	border-radius: 1rem;
	cursor: pointer;
	box-shadow: 0em 0em 0.5em 0.3em;
}

/*SignUpForm css*/

.background {
	width: 100%;
	height: 80vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container-div {
	background-color: var(--secondaryColor);
	display: flex;
	justify-content: center;
	flex-direction: column;
	border: solid 0.635em var(--primaryColor);
	border-radius: 1.875rem;
	width: 28.125rem;
	height: 25rem;
	box-shadow: 0rem 2.5rem 2.5rem var(--secondaryColor);
}

.header-div {
	font-size: 1.25rem;
	display: flex;
	color: var(--primaryColor);
	flex-direction: column;
	align-items: center;
	width: auto;
}

@keyframes bgColorChange {
	0% {
		background-color: var(--primaryColor); /* Start color */
		color: var(--ctaColor);
	}
	25% {
		background-color: var(--secondaryColor); /* Middle color */
		color: var(--ctaColor);
	}
	75% {
		background-color: var(--ctaColor); /* End color */
		color: var(--primaryColor);
	}

	90% {
		background-color: var(--Color); /* Middle color */
		color: var(--primaryColor);
	}
	100% {
		background-color: var(--primaryColor); /* Start color */
		color: var(--ctaColor);
	}
}

header .nav-btn {
	visibility: hidden;
}

header.nav-btn {
	visibility: hidden;
}

.users-image {
	border-radius: 1.25em;
	width: 10em;
	height: auto;
	justify-content: center;
}
p.numbers-of-users {
	display: flex;
	flex-direction: column;
}

.office-pic {
	max-width: 100%;
	box-shadow: 0em 0em 3em var(--secondaryColor);
	margin: 5%;
}

.wave-section {
	display: flex;
	justify-content: center;
	background-color: var(--secondaryColor);
	width: 100%;
	height: 3em;
}
.wave-section img {
	margin: 1% auto;
	width: 98%;
	height: 80%;
	margin: auto;
}

.section-1 {
	display: flex;
	justify-content: left;
	align-items: center;
	align-self: center;
}
.section-2 {
	display: flex;
	justify-content: center;
	align-items: center;
	align-self: center;
}

strong {
	color: var(--secondaryColor);
	font-size: 1.5em;
	line-height: 1.5;
	display: flex;
	justify-content: center;
	align-items: center;
}

.value-section p,
.focus-section p {
	color: var(--textColor);
	font-weight: 500;
	padding-bottom: 1em;
	width: auto;
	height: auto;
	text-align: center;
}

.value-text,
.focus-text {
	margin: auto;
	width: 33em;
	padding: auto;
}

.focus-section-div {
	display: grid;
	align-items: center;
	grid-template-columns: 1fr 1fr;
	background-color: var(--secondaryColor);
	font-weight: 800;
	font-family: Arial, Helvetica, sans-serif;
	width: 30em;
	height: 13em;
	padding: 0.5em 0.5em;
	border-radius: 2em;
}

.info {
	border-radius: 1.3em;
	width: 14em;
	margin: 0.5em 0.5em;
	text-align: center;
	display: grid;
	justify-content: center;
	background-color: var(--primaryColor);
}

.inner-circle {
	background-color: var(--secondaryColor);
	color: var(--primaryColor);
	text-align: center;
	align-content: center;
	margin: 0.9em 2.5em;
	padding: auto;
	width: 2em;
	height: 2em;
	border-radius: 50%;
}

.email-us-footer,
a,
.footer-2 {
	display: block;
	color: var(--primaryColor);
	background-color: var(--secondaryColor);
	text-align: center;
	justify-content: center;
	font-size: 1em;
	width: 100%;
	height: auto;
	padding: 0.5em;
}

img {
	border-radius: 1.25em;
	margin: auto;
}

.footer-2 p {
	display: block;
	width: 95%;
	font-size: 1em;
	text-align: center;
	padding-bottom: 1em;
}

/* About.css */

.about-wrapper {
	background-image: url("trx-img5.jpg");
	width: 100%;
}
.about-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: transparent;
	backdrop-filter: blur(40px);
	background-size: cover;
	border-radius: 1.25em;
	padding: 2em;
	width: 50em;
	height: fit-content;
	margin: 4em auto;
	line-height: 1.5;
	box-shadow: 0em 0em 3em var(--primaryColor);
}

.about-container img {
	border-radius: 1.25em;
	box-shadow: 0em 0em 3em var(--secondaryColor);
	padding: auto;
	margin: auto;
}

.about-container h1,
.about-container h2 {
	font-size: 2em;
	margin: 1em;
	color: var(--textColor);
}

.about-container p {
	font-size: 1em;
	font-weight: 600;
	margin-bottom: 0.625em;
	color: var(--textColor);
	border-radius: 0.62em;
	padding: 1.25em;
	text-align: center;
}

/* Services.css */

.services-container {
	display: flex;
	justify-content: space-evenly;
	padding: 2em;
	text-align: center;
	align-items: center;
	border: 0.1em solid var(--secondaryColor);
	width: 50em;
	border-radius: 1.25em;
	gap: 1.25em;
	margin: 2em 3em 2em 2em;
	line-height: 1.5;
	color: var(--textColor);
}

.services-container h1 {
	margin-top: 1em;
	text-align: center;
	font-size: 2em;
	margin-bottom: 1em;
	color: var(--textColor);
}

.services-container h2 {
	font-size: 2em;
	text-align: center;
	margin-top: 1em;
	text-align: center;
}

.services-container p {
	font-size: 1em;
	margin-bottom: 2em;
	background-color: transparent;
	backdrop-filter: blur(10px);
	color: var(--textColor);
	font-weight: 700;
	align-items: center;
	border-radius: 1.25em;
	text-align: center;
	padding: 1.2em;
}

.services-container img {
	border-radius: 1.25em;
	margin: 2.5em auto;
	box-shadow: 0em 0em 3em var(--secondaryColor);
}
.services-para {
	margin: auto;
}

/* contact.css */

div.contact-wrapper {
	background-image: url("trx-img5.jpg");
	width: 100%;
}
.contact-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: transparent;
	backdrop-filter: blur(40px);
	border-radius: 1.25em;
	border: 0.1em solid var(--secondaryColor);
	box-shadow: 0em 0em 3em var(--primaryColor);
	padding: 1.25em 1.25em;
	max-width: 30em;
	margin: 4em auto;
	line-height: 1.5;
	color: var(--primaryColor);
}

.contact-container h1 {
	margin: 1em;
	font-size: 2em;
	color: var(--textColor);
}

.contact-container p {
	font-size: 1em;
	margin: 1em auto;
	color: var(--textColor);
	text-align: center;
	background-color: var(--primaryColor);
	border-radius: 0.625em;
	padding: 0.625em;
}

.feedback {
	display: flex;
	flex-direction: column;
	border: solid 0.1em var(--secondaryColor);
	background-color: var(--primaryColor);
	max-width: 25em;
	gap: 0.625em;
	padding: 0.625em;
	height: 12.5em;
	border-radius: 0.625em;
	margin-left: auto;
	padding-left: auto;
}

.feedback input {
	margin-left: 0;
	width: 100%;
	border: 0.063em solid var(--textColor);
	height: 1.875em;
	color: var(--textColor);
	border-radius: 0.375em;
}

textarea {
	width: 100%;
	height: 50%;
	border-radius: 1.25em;
	background-color: var(--primaryColor);
}

.feedback button {
	color: var(--primaryColor);
	background-color: var(--ctaColor);
	border-radius: 0.625em;
	font: 1.25em;
	width: 6.25em;
	height: 1.875em;
}

.feedback button:hover {
	background-color: var(--secondaryColor);
	color: var(--primaryColor);
	transition: background-color 0.5s ease, transform 0.5s ease;
	cursor: pointer;
}

.contact-container {
	margin: 8em auto;
}

.email,
.email-us-footer {
	display: block;
	width: 100%;
	background-color: var(--secondaryColor);
	text-align: center;
}

.container-div {
	background-color: var(--primaryColor);
	box-shadow: 0em 0em 3em var(--secondaryColor);
	border: solid 0.1em var(--secondaryColor);
	padding: 2%;
}

.background {
	margin: 4em auto;
}

.text-div,
.container-div span {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 700;
	color: var(--textColor);
}

.underline {
	background-color: var(--ctaColor);
	width: 3em;
	height: 0.3em;
}

label {
	background-color: transparent;
	position: absolute;
	width: 100%;
	margin-top: -1.5em;
	font-weight: 600;
}

.inputs {
	display: flex;
	flex-direction: column;
	gap: 1.25em;
	width: 90%;
	height: auto;
	padding: 1.25em 1.25em;
	border: none;
	background-color: var(--secondaryColor);
	margin: 2em auto;
}

.input {
	background-color: var(--primaryColor);
	width: 25em;
	height: 3em;
	border: solid 0.1em var(--secondaryColor);
	position: relative;
	border-radius: 0.625em;
	border: none;
}

input {
	width: 90%;
	height: 100%;
	border-radius: 0.625em;
	float: right;
	font-weight: 500;
	font-size: larger;
	border: none;
}

.input img {
	position: absolute;
	margin-left: 0.2em;
	margin-top: 0.9em;
	width: 1.3em;
	height: 1.3em;
}

::placeholder {
	color: var(--textColor);
	padding-left: 1em;
	font-size: 1em;
	height: 100%;
}

.submit {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 1.25em;
}

.signin-up {
	background-color: var(--ctaColor);
	width: 9.375em;
	height: 1.875em;
	display: flex;
	flex-direction: column;
	font-size: 1.25em;
	align-items: center;
	justify-content: center;
	gap: 0.625em;
	border-radius: 0.625em;
	color: var(--primaryColor);
	font-weight: 800;
	cursor: pointer;
}

.signin-up-grey {
	background-color: var(--ctaColor);
	width: 9.375em;
	height: 1.875em;
	display: flex;
	flex-direction: column;
	font-size: 1.25em;
	align-items: center;
	justify-content: center;
	gap: 0.625em;
	border-radius: 0.625em;
	color: var(--primaryColor);
	font-weight: 600;
}

.signin-up:hover,
.signin-up-grey:hover {
	background-color: var(--textColor);
	color: var(--primaryColor);
	transition: background-color 0.5s ease, transform 0.5s ease;
	cursor: pointer;
}

.signin-up:active,
.signin-up-grey:active {
	font-size: 600;
	background-color: var(--textColor);
	color: var(--primaryColor);
}

#forgot-password {
	color: var(--primaryColor);
	background-color: var(--textColor);
	font-weight: 800;
	text-align: left;
	padding: 0.5em 0;
	text-decoration: underline;
}

@media (max-width: 1200px) {
	html,
	body {
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
		overflow-x: hidden;
	}

	p.numbers-of-users {
		text-align: center;
	}

	.section-1 {
		width: 80%;
		margin-right: -5em;
		margin-bottom: 5em;
	}

	.section-2 {
		width: 80%;
		font-size: 1em;
		margin-left: -60%;
		margin-bottom: 4em;
	}

	.section-1 {
		margin-right: 5%;
	}

	.focus-section-div {
		padding: auto;
		width: 20em;
		height: auto;
	}

	.focus-section {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 1em;
		padding: 1em;
	}

	.value-text,
	.focus-text {
		margin: 1em;
		font-size: 1em;
		width: auto;
		padding: auto;
	}

	.info {
		width: auto;
		height: auto;
	}

	#office-pic {
		margin: 5% 2% 2% 70%;
		max-width: 60%;
	}
	#mobile-phone-pic {
		margin: 5% -15% 2% 2%;
		max-width: 60%;
	}
	strong {
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 1.5em;
		text-align: center;
	}

	.focus-text p {
		text-align: center;
	}
	.value-text p {
		text-align: center;
	}

	.value-text strong {
		text-align: center;
	}

	img#id1,
	img#id3 {
		display: none;
	}
}

@media (max-width: 992px) {
	html,
	body {
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
		overflow-x: hidden;
	}

	header {
		height: 10em;
	}
	header .nav-btn {
		display: flex;
		justify-content: center;
		align-items: center;
		justify-content: center;
		visibility: visible;
		opacity: 1;
		position: absolute;
		background-color: var(--secondaryColor);
		border: none;
		right: -5%;
		top: 20%;
		width: 30%;
		font-size: 1.35rem;
	}

	.nav-btn img {
		border-radius: 0px;
	}

	#navLink1,
	#navLink2,
	#navLink3,
	#navLink4,
	#getstarted {
		margin: auto;
		padding: auto;
		font-weight: 500;
		text-decoration: none;
		background-color: var(--ctaColor);
		color: var(--primaryColor);
		width: 100%;
	}

	#getstarted {
		top: 3em;
		left: 0.2em;
		width: 160px;
		height: auto;
	}

	ul {
		margin: auto;
		margin-top: 20em;
		list-style-type: none;
		display: flex;
		flex-direction: column;
	}

	li {
		padding-left: 0em;
	}

	header nav {
		position: absolute;
		top: -8em;
		width: 60%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		background-color: var(--primaryColor);
		transition: 1s;
		transform: translateX(150vh);
	}

	header .responsive_nav {
		transform: none;
		position: fixed;
		background-color: var(--textColor);
		height: 100em;
		z-index: 1;
		width: 100%;
		position: absolute;
	}

	nav .nav-close-btn {
		display: flex;
		flex-direction: column;
		position: absolute;
		border-radius: 0.5em;
		right: 1em;
		top: 6em;
		font-size: 2rem;
		color: var(--textColor);
		background-color: var(--primaryColor);
		width: 2em;
		height: 2em;
		z-index: 1;
	}
}

@media (max-width: 860px) {
	img#id1,
	img#id3 {
		display: none;
	}
	.about-container {
		width: 40em;
	}

	.contact-container {
		margin: 2em;
	}
}

@media (max-width: 768px) {
	.section-1,
	.section-2 {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		width: 70%;
		margin: auto;
		position: relative;
		overflow: visible;
	}

	div.section-1 .office-pic,
	div.section-2 .office-pic {
		min-width: 130%;
		height: auto;
	}

	#mobile-phone-pic {
		margin-left: -15%;
		margin-bottom: 30%;
	}

	#office-pic {
		margin: 30% 0% 5% -25%;
	}

	.info {
		width: 95%;
	}

	strong {
		font-size: 1.5em;
		text-align: center;
	}

	.focus-section strong {
		margin-left: -25%;
	}
	.focus-section p {
		margin-left: auto;
	}
	.value-text p {
		text-align: center;
		font-size: 1em;
	}
	.focus-text p {
		text-align: center;
		font-size: 1em;
		margin-left: -25%;
	}

	.focus-section {
		display: flex;
		flex-direction: column;
		width: 100%;
		height: auto;
		color: var(--textColor);
	}

	.focus-section-div {
		width: 115%;
		height: 12em;
		row-gap: 2%;
		column-gap: 2%;
		margin: 2% 5% 5% -17%;
	}

	.inner-circle {
		margin-top: 1em;
		margin-bottom: 0em;
		border-radius: 50%;
	}
	.about-container {
		width: 15em;
	}
	.container-div {
		margin-top: -7em;
		width: 25em;
		border: 0.5em solid var(--primaryColor);
	}

	.input {
		position: relative;
		width: 100%;
	}
	input {
		width: 90%;
		font-size: auto;

		position: relative;
	}

	.container-div a {
		width: 100%;
	}

	.container-div button {
		width: 40%;
		justify-content: center;
	}
}

@media (max-width: 500px) {
	.container-div {
		margin: 5em 0em;
		width: 90%;
		border: 0.125em solid var(--primaryColor);
	}

	.feedback {
		width: 95%;
		height: auto;
	}

	.container-div button {
		width: 40%;
		justify-content: center;
	}

	img#id1,
	img#id3 {
		display: none;
	}

	.info {
		width: 99%;
		margin: auto;
	}
	.focus-section-div {
		width: 115%;
		height: 10em;
		row-gap: 5%;
		column-gap: 3%;
		margin: 2% 5% 5% -17%;
	}
}
@media (max-width: 350px) {
	.focus-section-div {
		display: flex;
		flex-direction: column;
		row-gap: 0.5em;
		width: 100%;
		height: auto;
		margin: 5%;
	}
}

@media screen and (max-width: 250px) {
	body * {
		display: none; /* Hide all content */
	}

	.wrapper {
		display: block;
		font-size: 20px;
		text-align: center;
		margin-top: 50px;
	}
}
